@tailwind base;
@tailwind components;
@tailwind utilities;

/* jsdevlivr CDN 추가 */
@font-face {
  font-family: "Sarasa Mono K";
  src: url("https://cdn.jsdelivr.net/gh/gyunseo/woff2-sarasa-mono-k@main/sarasa-mono-k-extralight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sarasa Mono K";
  src: url("https://cdn.jsdelivr.net/gh/gyunseo/woff2-sarasa-mono-k@main/sarasa-mono-k-extralightitalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sarasa Mono K";
  src: url("https://cdn.jsdelivr.net/gh/gyunseo/woff2-sarasa-mono-k@main/sarasa-mono-k-light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sarasa Mono K";
  src: url("https://cdn.jsdelivr.net/gh/gyunseo/woff2-sarasa-mono-k@main/sarasa-mono-k-lightitalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sarasa Mono K";
  src: url("https://cdn.jsdelivr.net/gh/gyunseo/woff2-sarasa-mono-k@main/sarasa-mono-k-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sarasa Mono K";
  src: url("https://cdn.jsdelivr.net/gh/gyunseo/woff2-sarasa-mono-k@main/sarasa-mono-k-italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sarasa Mono K";
  src: url("https://cdn.jsdelivr.net/gh/gyunseo/woff2-sarasa-mono-k@main/sarasa-mono-k-semibold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sarasa Mono K";
  src: url("https://cdn.jsdelivr.net/gh/gyunseo/woff2-sarasa-mono-k@main/sarasa-mono-k-semibolditalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sarasa Mono K";
  src: url("https://cdn.jsdelivr.net/gh/gyunseo/woff2-sarasa-mono-k@main/sarasa-mono-k-bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sarasa Mono K";
  src: url("https://cdn.jsdelivr.net/gh/gyunseo/woff2-sarasa-mono-k@main/sarasa-mono-k-bolditalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@layer base {
  :root,
  html[data-theme="light"] {
    /* catppuccin latte */
    --color-fill: 239, 241, 245;
    --color-text-base: 76, 79, 105;
    --color-accent: 220, 138, 120;
    --color-card: 172, 176, 190;
    --color-card-muted: 156, 160, 176;
    --color-border: 204, 208, 218;
  }
  html[data-theme="dark"] {
    /* catppuccin frappe */
    --color-fill: 48, 52, 70;
    --color-text-base: 198, 208, 245;
    --color-accent: 140, 170, 238;
    --color-card: 98, 104, 128;
    --color-card-muted: 148, 156, 187;
    --color-border: 65, 69, 89;
  }
  #sun-svg,
  html[data-theme="dark"] #moon-svg {
    display: none;
  }
  #moon-svg,
  html[data-theme="dark"] #sun-svg {
    display: block;
  }
  body {
    @apply flex min-h-[100svh] flex-col bg-skin-fill font-mono text-skin-base 
    selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted;
  }
  section,
  footer {
    @apply mx-auto max-w-3xl px-4;
  }
  a {
    @apply outline-2 outline-offset-1 outline-skin-fill 
    focus-visible:no-underline focus-visible:outline-dashed;
  }
  svg {
    @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent;
  }
  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent 
    stroke-current stroke-2 opacity-90 group-hover:fill-transparent 
    sm:scale-110;
  }
  .prose {
    @apply prose-headings:!mb-3 prose-headings:!text-skin-base 
    prose-h3:italic prose-p:!text-skin-base 
    prose-a:!text-skin-base prose-a:!decoration-dashed prose-a:underline-offset-8
    hover:prose-a:text-skin-accent prose-blockquote:!border-l-skin-accent
    prose-blockquote:border-opacity-50 prose-blockquote:opacity-80
    prose-figcaption:!text-skin-base prose-figcaption:opacity-70
    prose-strong:!text-skin-base

    
    prose-code:rounded prose-code:bg-skin-card 
    prose-code:bg-opacity-75 prose-code:p-1 
    prose-code:before:!content-none prose-code:after:!content-none
    prose-ol:!text-skin-base 
    prose-ul:overflow-x-clip prose-ul:!text-skin-base prose-li:marker:!text-skin-accent
    prose-table:text-skin-base prose-th:border
    prose-th:border-skin-line prose-td:border 
    prose-td:border-skin-line prose-img:!my-2 
    prose-img:mx-auto prose-img:border-2 
    prose-img:border-skin-line prose-hr:!border-skin-line;
  }
  .prose a {
    @apply break-words hover:!text-skin-accent;
  }
  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5714286em;
  }
  .prose h2#table-of-contents {
    @apply mb-2;
  }
  .prose details {
    @apply inline-block cursor-pointer select-none text-skin-base;
  }
  .prose summary {
    @apply focus-outline;
  }
  .prose h2#table-of-contents + p {
    @apply hidden;
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-skin-fill;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-skin-card;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-skin-card-muted;
  }

  code,
  blockquote {
    word-wrap: break-word;
  }

  pre > code {
    white-space: pre;
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }
  .focus-outline {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }
}
